[db]
# this section is used by both gcrawler and gsearch.
#
# the name of the database to use:
# name = "gcrawler"
#
# the hostname, or socket name to connect to:
# host = "/var/run/postgresql"
#
# the port the database server is listening on:
# port = 5432
#
# database username
# user = "username"
#
# database password:
# password = "verystringpassword"
#
# whether to use ssl to connect to the database or not:
# sslmode = false

[index]
# this section is only used by gsearch.
#
# path = "."

[capsule]
# this section is only used by gsearch.
#
# certFile = "cert.pem"
# keyFile = "key.pem"
#
# the port the server binds to
# port = 1965
#
# the ip address the server binds to
# address = 127.0.0.1
